html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background-image: url("/img/tron-sfondo.png");
    font-family: Arial;
}

@font-face {
    font-family: initial;
    font-weight: normal;
    font-style: normal;
}

section {
    width: 100%;
    text-align: center;
}

.wrapper {
    width: 100%;
}

p.title {
    display: inline-block;
    width: 50%;
    float: left;
    font-family: Arial;
    text-align: center;
    font-size: 15pt;
    margin-top: 20px !important;
}

    p.title span.special {
        margin: 0px -5px 0px -6px;
    }

#content {
    display: none;
}

    #content .ready {
        position: absolute;
        width: 30%;
        top: 10px;
        right: 20px;
    }

    #content form #play-button {
        display: inline-block;
        float: left;
        width: 70%;
        height: 40px;
    }

button {
    text-align: center !important;
    margin-right: 10px !important;
    padding: 0px 32px !important;
    background-color: black !important;
    color: #d0daf5 !important;
    border: 5px solid #d0daf5 !important;
    border-radius: 30px 30px 30px 30px !important;
    font-weight: bold;
    position: relative;
    border: 1px solid #FFE64D;
    font-size: 14px;
    margin-top: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px #FFE64D;
    cursor: pointer;
}

    button:hover {
        background-color: #d0daf5 !important;
        color: #007991 !important;
        border: 5px solid #007991 !important;
        cursor: pointer !important;
        text-align: center !important;
        margin-right: 10px !important;
        padding: 0px 32px !important;
        border-radius: 30px 30px 30px 30px !important;
        font-weight: bold;
        position: relative;
        border: 1px solid #FFE64D;
        font-size: 14px;
        margin-top: 5px;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
        box-shadow: 0px 0px 8px #FFE64D;
    }

input[type=text] {
    text-align: center !important;
    margin-right: 10px !important;
    padding: 18px 32px !important;
    background-color: black !important;
    color: #d0daf5 !important;
    border: 5px solid #d0daf5 !important;
    border-radius: 30px 30px 30px 30px !important;
    font-weight: bold;
    position: relative;
    border: 1px solid #FFE64D;
    font-size: 14px;
    margin-top: 5px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
    box-shadow: 0px 0px 8px #FFE64D;
}



.ping {
    font-size: 10px;
    color: white;
    margin: 0px;
    padding: 0px;
}

canvas {
    background-color: black;
    border: 1px solid #6FC3DF;
    color: #aeb6bc;
    border-radius: 3px;
    box-shadow: 0px 0px 12px #6FC3DF;
    width: 95%;
    margin-bottom: 5px;
}

.chat {
    height: 200px !important;
    background-color: black;
    width: 96%;
    text-align: left;
    overflow-y: scroll;
    margin-left: 15px;
    color: dodgerblue;
}

    .chat p {
        margin: 0px;
        padding: 5px 0px 5px 3px;
    }

        .chat p:nth-child(odd) {
            background-color: black;
        }

        .chat p:nth-child(even) {
            background-color: black;
        }

        .chat p.game {
            color: yellow;
        }

div form {
    width: 95%;
    overflow: hidden;
}

    div form input {
        padding: 3px 0px 3px 3px;
        margin: 0px;
        background-color: #128DC5;
        color: white;
        height: 20px;
        width: 68%;
        border: 0px;
    }


#actions-div {
    display: none;
}

#controls-for-mobile {
    display: block;
    margin-top: 5px;
}

#joystick {
    position: absolute;
}

@media screen and (min-width: 1024px) {

    .wrapper {
        width: 70%;
        text-align: center;
        margin: 0px auto;
    }

    canvas {
        width: 100%;
    }

    p.title {
        margin-bottom: 30px;
        font-size: 40pt;
        display: inline-block;
        width: 100%;
    }

    section#content {
        width: 100%;
    }

        section#content div {
            display: inline-block;
            float: left;
            width: 46%;
        }

            section#content div:nth-child(2) {
                margin-left: 5%;
            }

            section#content div div {
                width: 100%;
            }

    .chat {
        height: 500px;
    }

    div form {
        text-align: center;
        margin-bottom: 20px;
    }

        div form input {
            width: 48%;
            margin: 0px 30px 0px 0px;
        }

            div form input[type=submit] {
                display: inline;
                width: 12%;
                margin: 0px;
                height: 26px;
                border: 0px;
            }

        div form button {
            display: inline-block;
        }

    #content .ready {
        top: 50px;
        right: 0px;
        left: 18%;
    }

    input#text {
        width: 70%;
    }



    .ping {
        position: absolute;
        top: 5px;
        left: 10px;
    }

    #controls-for-mobile {
        display: none;
    }

    #joystick {
        display: none;
    }
}
